@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{box-sizing: border-box;}
a{color: inherit;}
img{vertical-align: center;}
body{
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
    background: #ffffff;
    color: #333333;
    width: 100%;
}
#header{
    width: 100%; height: 114px;
}
#util{
    width: 100%;
    background-color: #036b3f;
}
#util_box{
    width: 1200px;height: 40px;
    margin: 0 auto;
    color: #ffffff;
}
#util_box>ul{
    display: flex;
    justify-content: right;
}
#util_box>ul>li>a{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    font-size: 14px;
}
.gnb_box{
    width: 1200px;
    height: 74px;
    margin: 0 auto;
    display: flex;
}
.nav{
    width: 994px;
    position: relative;
}
.nav>ul{
    display: flex;
    justify-content: right;
}
.nav>ul>li{padding-left: 5px;}
.nav>ul>li>a{
    display: inline-block;
    background-color: #fff;
    padding: 27px;
    font-weight: 700;
    font-size: 20px;
}
/* 서브메뉴시작 */
.nav>ul>li>ul{
    z-index: 1000;
    display: none;
    /* width: 896px; */
    width: 100%;
    position: absolute;
    top: 74px;left: 0;
    padding-top: 15px;
    background: #cedaa3f8;
}
.nav>ul>li>ul::after{content: ""; display: block; clear: both;}
.nav>ul>li>ul>li{
    float: left;
    width: 21.5%;
    margin: 0 1% 18px 2%;
}
.nav>ul>li>ul>li>a{
    display: block;
    color: #036b3f;
    font-weight: 600;
    font-size: 1em;
    height: auto;
    padding: 8px 10px;
    line-height: normal;
    background: #e6edf0;
}
.nav>ul>li>ul>li>ul>li>a:hover{ font-weight: 700;}
/* 서서브 메뉴 시작 */
.nav>ul>li>ul>li>ul{
    position: relative;
    width: 100%;
    padding: 10px 0 0 0;
}
.nav>ul>li>ul>li>ul>li{
    float: none;
    width: auto;
    margin: 0;
}
.nav>ul>li>ul>li>ul>li>a{
    display: inline-block;
    font-weight: normal;
    font-size: 0.929em;
    padding: 5px 10px;
    background: none;
}
.sub .bb{
    font-weight: 600;
    cursor: default;
}
.cursor{cursor: default;}
/* 서서서브 시작 */
.nav>ul>li>ul>li>ul>li>ul>li{
    display: block;
    /* color: #ff00bf; */
    font-size: 0.929em;
    height: auto;
    padding: 8px 21px;
    line-height: normal;
}
/* nav end */

/* sub_s */
#sub_s{
    width: 100%;
    height: 200px;
    background-image: url(../images/sub_s.png);
}
#sub_s>p{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
    display: block;
    padding-top: 84px;
}
/* container start */
#container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 70px;
}
#lnb{
    border: 1px solid #bfbfbf;
    border-top: none;
    width: 260px;
    height: auto;
}
#lnb>h2{
    font-size: 35px;
    font-weight: 700;
    width: 260px;height: 146px;
    text-align: center;
    padding: 60px;
}
.lnb_nav::before{
    content: url(../images/line.png);
    display: block;
    margin-left: -0.5px;
}
.lnb_nav>ul{
    padding-top: 10px;
    padding-left: 10px;
}
.lnb_nav>ul>li>a{
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 18px;
}
.lnb_nav>ul>li>ul{display: none;}
.lnb_nav>ul>li.active{
    color: #016c3f;
    font-weight: 800;
}
.lnb_nav>ul>li>ul>li>a{
    display: block;
    padding-top: 15px;
    padding-left: 40px;
}
.lnb_nav>ul>li>a:hover,
.lnb_nav>ul>li>ul>li>a:hover{
    font-weight: 700;
}
/* content start */
#content{
    width: 940px;
    height: auto;
}
#content>h3{
    padding-top: 66px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
}
.con{
    width: 835px;
    margin: 0 auto;
}
.con>ul{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 57px;
}
.con>ul>li{
    width: 32%;
    display: inline-block;
    border: 1px solid #bfbfbf;
    margin-left: -6px;
}
.con>ul>li:nth-child(3n){border-left: none;}
.con>ul>li:nth-child(1),.con>ul>li:nth-child(2),
.con>ul>li:nth-child(3){border-bottom: none;}
.con>ul>li>a{
    text-align: center;
    font-size: 22px;
    display: block;
    padding: 15px 20px;
}
.con>ul>li.active{
    color: #009b59;
    font-weight: 600;
}
.con_sym{margin: 0 auto;}
.con_sym>.c1{width: 100%;}
.c1>img{
    display: block;
    margin: 0 auto;
}
.txt{
    margin-top: 86px;
    border: 1px solid #bfbfbf;
    padding: 30px 20px ;
    position: relative;
}
.txt>div{
    width: 414px;
    margin: 0 auto;
}
.txt>div>p{
    padding: 5px;
    font-size: 18px;
}
.txt>div>p>span{
    color: #009b59;
    margin-right: 10px;
}
button{
    width: 44px;height: 28px;
    font-size: 14px;
    margin-bottom: 70px;
    position: absolute;right: 50px;
}
.last{
    position: relative;
    width: 1200px;
    height: 103px;
    margin: 0 auto;
}
/* footer */
.inner{
    width: 1200px;
    margin: 0 auto;
}
#footer{
    width: 100%;height: 330px;
    background-color: #036b3f;
}
.footer{
    padding-top: 30px;
    display: flex;
}
.footer>.flogo{
    padding-left: 38px;
}
.footer>.finfo{
    padding-left: 30px;
    color: #fff;
}
.finfo>.line1{
    display: flex;
}
.finfo>.line1>li{
    font-size: 14px;
    padding-right: 37px;
}
.line1>li:last-child{padding-right: 0;}
.line2{padding-top: 20px;}
.line2>li{
    font-size: 14px;
    line-height: 20px;
}
.line2>li:last-child{padding-top: 10px;}